In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('metoo.csv', parse_dates = ['Date when case first revealed'])

In [3]:
# df2 = pd.read_csv('case_data.csv')
# df2["Date when case first revealed"] = pd.to_datetime(df2["Date when case first revealed"]).dt.strftime('%Y-%m-%d')

In [4]:
# df2.head()

In [7]:
df = df.sort_values(by='Date when case first revealed')

In [8]:
df.to_csv('metoo_time_sorted.csv',index=False)

In [19]:
df = pd.read_csv('MeToo_data_time_sorted.csv', parse_dates = ['Date when case first revealed'])

In [5]:
df['Date when case first revealed'].value_counts()

2018-07-26    9
2018-07-25    8
2018-07-29    4
2018-07-23    3
2018-07-24    3
2018-07-28    2
2018-07-27    2
2018-08-01    1
2018-01-01    1
2018-08-02    1
2018-04-11    1
2018-04-05    1
2018-03-10    1
2018-06-25    1
2018-07-31    1
2018-07-20    1
2018-12-29    1
2018-04-16    1
2018-08-09    1
2018-04-25    1
2018-08-12    1
2018-04-13    1
2018-06-30    1
2018-09-20    1
2018-01-11    1
2018-02-05    1
2018-03-27    1
2018-10-19    1
2018-04-28    1
2018-08-31    1
Name: Date when case first revealed, dtype: int64

In [6]:
def f(df):
    df = df.copy()
    df['year'] = pd.DatetimeIndex(df['Date when case first revealed']).year
    df['month'] = pd.DatetimeIndex(df['Date when case first revealed']).month
    df['day'] = pd.DatetimeIndex(df['Date when case first revealed']).day
    return df

In [8]:
f(df).month.value_counts()

7     33
4      6
8      5
6      2
3      2
1      2
12     1
10     1
9      1
2      1
Name: month, dtype: int64

In [13]:
f(df).groupby(['month','Location']).count()

                            Date when case first revealed  Date of case  \
month Location
1     Beijing                                           2             2
2     Beijing                                           1             1
3     Shanghai                                          1             0
      The U.S.                                          1             1
4     Beijing                                           1             0
      Beijing/Nanjing                                   2             2
      Guangzhou, Guangdong                              1             0
      Shanghai                                          1             0
      Zhengzhou, Henan                                  1             1
6     Linyi, Shandong                                   1             0
      Qingyang, Gansu                                   1             1
7     Beijing                                          13            10
      Changchun, Jilin                                  1             1
      Chengdu                                           1             1
      Guangzhou                                         3             3
      Guangzhou, Guangdong                              1             0
      Hangzhou                                          1             1
      Hangzhou, Zhejiang                                1             1
      Ningbo                                            2             2
      Shanghai                                          1             1
      Suzhou                                            1             1
      Tianjin                                           2             1
      Wenzhou                                           1             1
      Xi'an, Shaanxi                                    2             1
      Xishuangban'na                                    1             1
      Zhengzhou                                         1             1
8     Beijing                                           2             2
      Changsha, Hunan                                   1             1
      Shanghai                                          1             1
      U.S.                                              1             1
9     Guangzhou                                         1             1
10    Jilin, Jilin                                      1             1
12    Nanjing                                           1             1

                            Perpetrator  Title  Institution  Source  \
month Location
1     Beijing                         2      2            2       2
2     Beijing                         1      1            1       1
3     Shanghai                        1      1            1       1
      The U.S.                        1      1            1       1
4     Beijing                         1      1            1       1
      Beijing/Nanjing                 2      2            2       2
      Guangzhou, Guangdong            1      1            1       1
      Shanghai                        1      1            1       1
      Zhengzhou, Henan                1      1            1       1
6     Linyi, Shandong                 1      1            1       1
      Qingyang, Gansu                 1      1            1       0
7     Beijing                        13     13           13      12
      Changchun, Jilin                1      1            1       1
      Chengdu                         1      1            1       1
      Guangzhou                       3      3            3       3
      Guangzhou, Guangdong            1      1            1       1
      Hangzhou                        1      1            1       1
      Hangzhou, Zhejiang              1      1            1       1
      Ningbo                          2      2            2       2
      Shanghai                        1      0            1       1
      Suzhou                          1      1            1       1
      Tianjin                         2      2            1       2
      Wenzhou                         1      1            1       1
      Xi'an, Shaanxi                  2      2            2       2
      Xishuangban'na                  1      1            1       1
      Zhengzhou                       1      1            1       1
8     Beijing                         2      2            2       2
      Changsha, Hunan                 1      1            1       1
      Shanghai                        1      1            1       1
      U.S.                            1      1            1       1
9     Guangzhou                       1      1            1       1
10    Jilin, Jilin                    1      1            1       1
12    Nanjing                         1      1            1       1

                            Case Summary  Names of Victims  Number of Victims  \
month Location
1     Beijing                          2                 2                  1
2     Beijing                          1                 1                  1
3     Shanghai                         1                 0                  0
      The U.S.                         1                 0                  0
4     Beijing                          1                 1                  1
      Beijing/Nanjing                  2                 2                  2
      Guangzhou, Guangdong             1                 1                  1
      Shanghai                         1                 0                  1
      Zhengzhou, Henan                 1                 1                  1
6     Linyi, Shandong                  1                 1                  1
      Qingyang, Gansu                  1                 1                  1
7     Beijing                         13                 3                 11
      Changchun, Jilin                 1                 1                  0
      Chengdu                          1                 1                  1
      Guangzhou                        3                 2                  3
      Guangzhou, Guangdong             1                 1                  1
      Hangzhou                         1                 1                  1
      Hangzhou, Zhejiang               1                 1                  1
      Ningbo                           2                 2                  2
      Shanghai                         1                 1                  1
      Suzhou                           1                 0                  1
      Tianjin                          2                 1                  2
      Wenzhou                          1                 1                  1
      Xi'an, Shaanxi                   2                 2                  2
      Xishuangban'na                   1                 1                  1
      Zhengzhou                        1                 0                  1
8     Beijing                          2                 0                  2
      Changsha, Hunan                  1                 0                  1
      Shanghai                         1                 1                  1
      U.S.                             1                 1                  1
9     Guangzhou                        1                 0                  1
10    Jilin, Jilin                     1                 1                  1
12    Nanjing                          1                 0                  1

                            Response  Consequences  Any Lawsuit?  \
month Location
1     Beijing                      0             1             2
2     Beijing                      1             0             1
3     Shanghai                     0             1             1
      The U.S.                     1             1             1
4     Beijing                      0             1             1
      Beijing/Nanjing              1             1             2
      Guangzhou, Guangdong         1             1             1
      Shanghai                     0             1             1
      Zhengzhou, Henan             0             0             0
6     Linyi, Shandong              0             1             1
      Qingyang, Gansu              0             1             1
7     Beijing                      6             6            13
      Changchun, Jilin             0             1             1
      Chengdu                      1             1             1
      Guangzhou                    2             0             3
      Guangzhou, Guangdong         0             1             1
      Hangzhou                     0             0             1
      Hangzhou, Zhejiang           0             0             1
      Ningbo                       1             0             2
      Shanghai                     1             0             1
      Suzhou                       1             0             1
      Tianjin                      1             0             2
      Wenzhou                      1             0             1
      Xi'an, Shaanxi               0             2             2
      Xishuangban'na               0             1             1
      Zhengzhou                    1             0             1
8     Beijing                      1             2             2
      Changsha, Hunan              1             1             1
      Shanghai                     0             0             1
      U.S.                         1             0             1
9     Guangzhou                    1             0             1
10    Jilin, Jilin                 0             1             1
12    Nanjing                      0             1             1

                            Trial Result (if any)  Other  year  day
month Location
1     Beijing                                   0      0     2    2
2     Beijing                                   0      0     1    1
3     Shanghai                                  0      0     1    1
      The U.S.                                  1      0     1    1
4     Beijing                                   0      0     1    1
      Beijing/Nanjing                           0      0     2    2
      Guangzhou, Guangdong                      0      0     1    1
      Shanghai                                  0      0     1    1
      Zhengzhou, Henan                          0      0     1    1
6     Linyi, Shandong                           0      0     1    1
      Qingyang, Gansu                           1      1     1    1
7     Beijing                                   2      0    13   13
      Changchun, Jilin                          0      0     1    1
      Chengdu                                   1      1     1    1
      Guangzhou                                 0      0     3    3
      Guangzhou, Guangdong                      0      0     1    1
      Hangzhou                                  0      0     1    1
      Hangzhou, Zhejiang                        0      0     1    1
      Ningbo                                    0      0     2    2
      Shanghai                                  0      0     1    1
      Suzhou                                    1      0     1    1
      Tianjin                                   0      0     2    2
      Wenzhou                                   0      0     1    1
      Xi'an, Shaanxi                            0      0     2    2
      Xishuangban'na                            0      0     1    1
      Zhengzhou                                 0      0     1    1
8     Beijing                                   0      0     2    2
      Changsha, Hunan                           0      0     1    1
      Shanghai                                  0      0     1    1
      U.S.                                      1      0     1    1
9     Guangzhou                                 0      0     1    1
10    Jilin, Jilin                              0      0     1    1
12    Nanjing                                   0      0     1    1

In [21]:
df['Number of Victims'].astype(float)

ValueError: could not convert string to float: 'several'